.text{
    min-width: min-content;
    max-width: 471px;

    min-height: max-content;

    padding: 14px 27px 17px 22px;
    margin: 0px;

    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
    box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
    border-radius: 0px 10px 10px 10px;

    color: #FFFFFF;
    z-index: 2;
}

.mes{
    display: flex;
    gap: 18px;

    align-items: center;

}

.btnHorizontal{
    width: 24px;
    height: 24px;

    
}

.textAuthor{

    min-width: min-content;
    max-width: 471px;

    min-height: max-content;

    padding: 14px 27px 17px 22px;
    margin: 0px;

    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
    box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
    border-radius: 10px 10px 0px 10px;

    background: #FFFFFF;
    border: 1px solid rgba(112, 124, 151, 0.25);
    box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
    
    color: #707C97;
    z-index: 2;
}